body {
    margin:0;
    overflow: hidden;
}
.spa_page {
    animation-duration: 5s;
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.sp_active_page {
    display:block;
    z-index:1000;
}
.spa_closing_bck {
    animation-name: spa_closing_bck;
}
.spa_closing_fwd {
    animation-name: spa_closing_fwd;
}
.spa_opening_bck {
    animation-name: spa_opening_bck;
}
.spa_opening_fwd {
    animation-name: spa_opening_fwd;
}
@keyframes spa_closing_bck {
    0%   {transform:translateX(0%);}
    100%  {transform:translateX(-100%);}
}
@keyframes spa_closing_fwd {
    0%   {transform:translateX(-100%);}
    100%  {transform:translateX(0%);}
}
@keyframes spa_opening_bck {
    0%   {transform:translateX(100%);}
    100%  {transform:translateX(0%);}
}
@keyframes spa_opening_fwd {
    0%   {transform:translateX(0%);}
    100%  {transform:translateX(100%);}
}
.spa_context {
    
}
.spa_item {
    display:block;
}
.spa_closed_item {
    display:none;
}