body {
    margin:0;
    overflow-x: hidden;
}
.spa_page, .spa_item {
    animation-duration: 5s;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:-1000;
}
.sp_active_page, .spa_active_item {
    position:static;
}
.spa_context_container {
    position:relative;
    overflow-x: hidden;
}
.spa_closing_bck {
    animation-name: spa_closing_bck;
}
.spa_closing_fwd {
    animation-name: spa_closing_fwd;
}
.spa_opening_bck {
    animation-name: spa_opening_bck;
}
.spa_opening_fwd {
    animation-name: spa_opening_fwd;
}
@keyframes spa_closing_bck {
    0%   {transform:translateX(0%);}
    100%  {transform:translateX(-100%);}
}
@keyframes spa_closing_fwd {
    0%   {transform:translateX(-100%);}
    100%  {transform:translateX(0%);}
}
@keyframes spa_opening_bck {
    0%   {transform:translateX(100%);}
    100%  {transform:translateX(0%);}
}
@keyframes spa_opening_fwd {
    0%   {transform:translateX(0%);}
    100%  {transform:translateX(100%);}
}