body {
    margin:0;
}
.spa_page {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    display:none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.spa_first_page {
    display:block;
}
.spa_closing_bck {
    animation-name: spa_closing_bck;
    display:block;
}
.spa_closing_fwd {
    animation-name: spa_closing_fwd;
    display:block;
}
.spa_opening_bck {
    animation-name: spa_opening_bck;
    display:block;
}
.spa_opening_fwd {
    animation-name: spa_opening_fwd;
    display:block;
}
@keyframes spa_closing_bck {
    0%   {transform:translateX(0%);}
    100%  {transform:translateX(-100%);}
}
@keyframes spa_closing_fwd {
    0%   {transform:translateX(-100%);}
    100%  {transform:translateX(0%);}
}
@keyframes spa_opening_bck {
    0%   {transform:translateX(100%);}
    100%  {transform:translateX(0%);}
}
@keyframes spa_opening_fwd {
    0%   {transform:translateX(0%);}
    100%  {transform:translateX(100%);}
}